.container {
	margin: 0 auto;
	width: 302px;
	height: 645px;
	background-image: url("pic_background.png");
	background-size: cover;
}

.blogroll {
	position: absolute;
  margin-top: 3px;
  margin-left: 29px;
  font-size: 13px;
}

.blogroll span {
	margin-top: 10px;
}

.blog__white {
	height: 70px;
}

.blog__white--left {
	float: left;
	width: 136px;
	height: 60px;
}

.blog__white--left img {
  margin-top: -5px;
  margin-left: 6px;
	width: 130px;
	height: 66px;
}

.blog__white--right {
	float: left;
	margin-left: 6px;
  margin-top: -16px;
	height: 84px;
	width: 100px;
}

.blog__white--right p {
  padding: 0;
  /* margin: 0px; */
  margin-bottom: 0;
  color: #2c7bd0;
  font-size: 11px;
}

.blog__white--right span {
	font-size: 12px;
}

.blog__list {
  margin-left: 7px;
  font-size: 11.5px;
}

.blog__list p {
  position: relative;
  margin-top: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.horoscopes {
	position: absolute;
  margin-left: 28px;
  margin-top: 205px;
  height: 190px;
}

.horoscopes > span {
  font-size: 14px;
  margin-left: 3px;
}

.horo__left {
	float: left;
	width: 92px;
	height: 131px;
}

.horo__left img {
	margin-top: 3px;
	height: 130px;
	width: auto;
}

.horo__right {
	position: relative;
	float: left;
	width: 154px;
	height: 131px;
}

.horo__right p {
	position: absolute;
	margin-top: 18px;
	padding-right: 2px;
	font-size: x-small;

}

.right__content {
	margin-top: 18px;
	font-size: 13px;
}

.right__content a {
	font-size: 9px;
}

.horo__smaller {
	position: absolute;
	margin-top: -2px;
	font-size: x-small;
}

.horo__text {
  margin-left: 19px;
  font-size: x-small;
  line-height: 0.5;
}

.horo {
	position: relative;
}

.horo__text p {
	position: absolute;
	margin-top: 145px;
}

.horo__text--blue {
	position: absolute;
  margin-top: 157px;
  font-size: 11px;
	color: #2c7bd0;
}

.horo__text--blue a {
  text-decoration: none;
}

.news {
	position: absolute;
  margin-top: 410px;
  margin-left: 29px;
  height: 113px;
  width: 246px;
  font-size: 13.5px;
  font-weight: bolder;
}

.news span {
  position: absolute;
  margin-top: 36px;
  margin-left: -85px;
  margin-right: 104px;
  font-size: 11px;
}

.news p {
  margin-top: 74px;
  margin-left: 17px;
  color: #2c7bd0;
  font-size: 11px;
}

.news a {
  text-decoration: none;
}

.competions label {
  position: absolute;
  margin-top: 531px;
  margin-left: 26px;
  font-weight: bolder;
  font-size: 13.5px;
}

.com__text {
	position: absolute;
  margin-top: 545px;
  margin-left: 38px;
  line-height: 0.2;
  font-size: 11px;
}

.clear__left--right {
	clear: both;
}